/* global variables */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  /* fonts */
  --leckerli-one: 'Leckerli One', sans-serif;
  --open-sans: 'Open sans', sans-serif;
  --baloo-2: 'Baloo 2', sans-serif;

  /* typography */
  --logo: 400 2.5rem/1.5 var(--leckerli-one);

  --heading-md: bold 1.75rem/1.5 var(--baloo-2);
  --heading-sm: bold 1.125rem/1.5 var(--baloo-2);

  --body-md: 400 1rem/1.5 var(--open-sans);
  --body-sm: 400 0.875rem/1.5 var(--open-sans);
  --body-xs: 400 0.75rem/1.5 var(--open-sans);

  /* colors */
  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;

  --purple: #B259FF;
  --fuschia: #FF59F9;
  --pink: #FF598B;
  --orange: #FF8B59;
  --yellow: #FFCD59;
  --lime: #E1FF59;
  --green: #59FF91;
  --cyan: #59FFF9;
  --navy: #6A59FF;

  --danger: #FF5959;

  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  ;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;

  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}



.gap {
  row-gap: 1rem;
  gap: 1rem;
}

.brand-light {
  background-color: var(--brand-light)
}

.navy {
  background-color: var(--navy)
}

.purple {
  background-color: var(--purple)
}

.fuschia {
  background-color: var(--fuschia)
}

.pink {
  background-color: var(--pink)
}

.danger {
  background-color: var(--danger)
}

.orange {
  background-color: var(--orange)
}

.yellow {
  background-color: var(--yellow)
}

.lime {
  background-color: var(--lime)
}

.green {
  background-color: var(--green)
}

.cyan {
  background-color: var(--cyan)
}

