#app {
  display: grid;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: auto 1fr;
}

aside {

  margin: 0.8rem;
  background-size: cover;
  background-repeat: no-repeat;
  width: 25rem;
  height: 45.5rem;
  background-image: url(../assets/images/Background.png);
  border-radius: 0.75rem;

  & header {

    margin: 1.875rem;

    & img {
      width: 2.84375rem;
      height: 3rem;
    }

    & h1 {
      margin-top: 1rem;
      font: var(--logo);
      color: var(--pink);
    }

    & p {
      font: var(--body-md);
      color: var(--text-heading);
      font-weight: 300;
    }
  }
}

main {
  margin: 0.8rem;

  & .main-container {
    padding: 5rem 8.125rem;
    background-color: var(--shape-body);
    width: 51.25rem;
    border-radius: 0.8rem;

    & h2 {
      font: var(--heading-md);
      color: var(--text-heading);
      margin-bottom: 2.5rem;
    }

    form {
      & legend {
        font: var(--heading-sm);
        color: var(--text-heading);

        & svg {
          color: var(--input-placeholder);
        }
      }

      & label {
        font: var(--body-sm);
        color: var(--text-body);
      }

      & input {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }

  }
}
